<section class="fav-section">
  <div class="container">
    <h2 class="section-title fav-title">Some of our favorites</h2>
    <p class="fav-text">Looking for something delicious?</p>

    <ul class="fav-list">
      <li class="fav-item">
        <img
          class="fav-img"
          srcset="img/fav/img1.png 1x, img/fav/img1@2x.png 2x"
          alt="Img 1"
        />
      </li>
      <li class="fav-item">
        <img
          class="fav-img"
          srcset="img/fav/img2.png 1x, img/fav/img2@2x.png 2x"
          alt="Img 2"
        />
      </li>
      <li class="fav-item">
        <img
          class="fav-img"
          srcset="img/fav/img3.png 1x, img/fav/img3@2x.png 2x"
          alt="Img 3"
        />
      </li>
      <li class="fav-item">
        <img
          class="fav-img"
          srcset="img/fav/img4.png 1x, img/fav/img4@2x.png 2x"
          alt="Img 4"
        />
      </li>
      <li class="fav-item">
        <img
          class="fav-img"
          srcset="img/fav/img5.png 1x, img/fav/img5@2x.png 2x"
          alt="Img 5"
        />
      </li>
      <li class="fav-item">
        <img
          class="fav-img"
          srcset="img/fav/img6.png 1x, img/fav/img6@2x.png 2x"
          alt="Img 6"
        />
      </li>
    </ul>
  </div>
</section>
