<div class="mobile-menu">
  <button class="close-btn menu-btn-close" type="button">
    <svg class="close-icon" width="24" height="24">
      <use href="/img/icons.svg#icon-close"></use>
    </svg>
  </button>

  <nav class="mobile-navigation">
    <a class="mobile-menu-logo" href="./index.html" aria-label="Site logo">
      <svg class="logo-icon" width="63" height="36">
        <use href="/img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <ul class="mobile-menu-list">
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#welcome">About us</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#quality">Benefits</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#experience">Gallery</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#testimonial">Testimonial</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#location">Location</a>
      </li>
      <li class="mobile-menu-item icon-wrapper">
        <button class="theme-toggle" aria-label="Menu theme">
          <svg class="icon sun">
            <use href="/img/icons.svg#icon-sun"></use>
          </svg>

          <svg class="icon moon">
            <use href="/img/icons.svg#icon-moon"></use>
          </svg>
        </button>
      </li>
    </ul>
  </nav>
</div>