<section class="testimonials-section">
  <div class="container">
    <h2 class="section-title testimonials-title">What our customers say</h2>
    <p class="testimonials-text">
      Don't just take our word for it - see what our satisfied customers have to
      say
    </p>
    <ul class="testimonials-list">
      <li class="testimonial-item">
        <ul class="stars-list">
          <li class="star-item">
            <svg class="star-icon" width="17" height="16">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg class="star-icon" width="17" height="16">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg class="star-icon" width="17" height="16">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg class="star-icon" width="17" height="16">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg class="star-icon" width="17" height="16">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonial-text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>

        <div class="testimonial-author">
          <img
            class="testi-img"
            srcset="
              img/testimonials/img1.png    1x,
              img/testimonials/img1@2x.png 2x
            "
            alt="Img 1"
          />
          <div class="author-text-wrapper">
            <p class="author-name">Sumith Shah</p>
            <p class="author-text">Some Dude</p>
          </div>
        </div>
      </li>

      <li class="testimonial-item">
        <ul class="stars-list">
          <li class="star-iem">
            <svg class="star-icon" width="17" height="16">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg class="star-icon" width="17" height="16">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg class="star-icon" width="17" height="16">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg class="star-icon" width="17" height="16">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg class="star-icon" width="17" height="16">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonial-text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>

        <div class="testimonial-author">
          <img
            class="testi-img"
            srcset="
              img/testimonials/img2.png    1x,
              img/testimonials/img2@2x.png 2x
            "
            alt="Img 2"
          />
          <div class="author-text-wrapper">
            <p class="author-name">Sumith Shah</p>
            <p class="author-text">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
