:root {
  --button-green: #bbf330;
  --dark-green: #7eb101;
  --yellow-main: #ffe550;
  --black: #2c2c2c;
  --white: #fefefe;
  --2: #a7ce47;
  --tekst: #3d3d3d;
  --tekst2: #969696;
  --tekst3: #4a4a4a;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  width: 100%;
  overflow-x: hidden;
  color: var(--black);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

button {
  cursor: pointer;
  border: none;
}

body:has(.modal-backdrop.is-open) {
  overflow: hidden;
}

body:has(.mobile-menu.is-open) {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  border-radius: 30px;

  font-weight: 500;
  font-size: 13px;
  color: var(--black);
  cursor: pointer;

  transition: opacity 200ms ease-in-out;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: var(--black);
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 42px;
  }
}
