:root {
  --color-scheme-1-background: var(--color-coffee-lighter);
  --color-neutral-darkest: #0b0803;
  --color-scheme-1-border: var(--opacity-neutral-darkest-15);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-neutral-lighter: #dad9d9;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b5b4b3;
  --color-neutral: #858381;
  --color-neutral-dark: #54524e;
  --color-neutral-darker: #23201c;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --color-scheme-1-foreground: var(--color-coffee-light);
  --color-scheme-1-accent: var(--color-neutral-darkest);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-neutral-darkest-5: rgba(11, 8, 3, 0.05);
  --opacity-neutral-darkest-10: rgba(11, 8, 3, 0.1);
  --opacity-neutral-darkest-15: rgba(11, 8, 3, 0.15);
  --opacity-neutral-darkest-20: rgba(11, 8, 3, 0.2);
  --opacity-neutral-darkest-30: rgba(11, 8, 3, 0.3);
  --opacity-neutral-darkest-40: rgba(11, 8, 3, 0.4);
  --opacity-neutral-darkest-50: rgba(11, 8, 3, 0.5);
  --opacity-neutral-darkest-60: rgba(11, 8, 3, 0.6);
  --color-coffee-lightest: #eadfd6;
  --color-coffee-lighter: #e0cbb4;
  --color-coffee-light: #c29d84;
  --color-coffee: #b58869;
  --color-coffee-dark: #6f4e37;
  --color-coffee-darker: #60432f;
  --color-coffee-darkest: #443022;
  --color-scheme-2-text: var(--color-neutral-darkest);
  --color-scheme-2-background: var(--color-coffee);
  --color-scheme-2-border: var(--opacity-neutral-darkest-15);
  --color-scheme-2-accent: var(--color-neutral-darkest);
  --color-scheme-2-foreground: var(--color-coffee);
  --color-error-red: #7f1c1c;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0;
  width: 100%;
  overflow-x: hidden;
  color: var(--color-scheme-1-text);
  background-color: var(--color-scheme-1-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Aboreto', sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

body:has(.modal-backdrop.subscription-open) {
  overflow: hidden;
}

body:has(.mobile-menu.is-open) {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100px;
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: var(--color-coffee-dark);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
  cursor: pointer;

  transition: opacity 200ms ease-in-out;
}

@media (hover: hover) {

  .btn:hover,
  .btn:focus {
    opacity: 0.5;
  }

  .btn:active {
    box-shadow: none;
    opacity: 1;
  }
}