.benefits-section {
  position: relative;
  z-index: 2;

  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='320' height='1122' viewBox='0 0 320 1122' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 64.1143C84.9678 -21.3714 235.032 -21.3714 320 64.1143V1122H0V64.1143Z' fill='%23FFE550'/%3e%3c/svg%3e");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;

  padding: 41px 0 72px;
}

@media screen and (min-width: 480px) {
  .benefits-section {
    background-image: url("data:image/svg+xml,%3Csvg width='480' height='1050' viewBox='0 0 480 1050' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 111.692C107.452 -37.2306 372.548 -37.2306 480 111.692V1050H0V111.692Z' fill='%23FFE550'/%3E%3C/svg%3E");
  }
}

@media screen and (min-width: 768px) {
  .benefits-section {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='768' height='1140' viewBox='0 0 768 1140' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 131.975C333.368 -57.5 599.561 342.5 768 0V1140H0V131.975Z' fill='%23FFE550'/%3e%3c/svg%3e");

    margin-top: -107px;
    padding: 132px 0 91px;
  }
}

@media screen and (min-width: 1280px) {
  .benefits-section {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1280' height='824' viewBox='0 0 1280 824' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 159.22C462.5 -116.409 1016 459.862 1280 0V824H0V159.22Z' fill='%23FFE550'/%3e%3c/svg%3e");

    margin-top: -134px;
    padding: 159px 0 43px;
  }
}

@media screen and (min-width: 1280px) {
  .benefits-container {
    display: flex;
    justify-content: space-between;
  }
}

.benefits-img {
  width: 100%;
}

.benefits-img-tab {
  display: none;
}

.benefits-img-wrapper {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .benefits-img-wrapper {
    display: flex;
  }

  .tab-img-wrapper {
    display: flex;
    align-items: flex-end;
    padding-bottom: 67px;
  }

  .benefits-img {
    width: 357px;
    margin-right: 29px;
  }

  .benefits-img,
  .first-img,
  .second-img {
    flex-shrink: 0;
    height: auto;
    object-fit: contain;
  }

  .benefits-img-tab {
    display: block;
  }

  .first-img {
    width: 166px;
    margin-right: 44px;
  }

  .second-img {
    width: 108px;
  }
}

@media screen and (min-width: 1280px) {
  .benefits-img-wrapper {
    margin-bottom: 0;
  }

  .benefits-img {
    width: 550px;
  }
}

.benefits-title {
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .benefits-title {
    margin-bottom: 20px;
    max-width: 526px;
  }
}

@media screen and (min-width: 1280px) {
  .benefits-title {
    margin-bottom: 20px;
    max-width: 526px;
  }
}

.benefits-text {
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .benefits-title {
    margin-bottom: 25px;
    max-width: 500px;
  }
}

@media screen and (min-width: 1280px) {
  .benefits-title {
    margin-bottom: 40px;
  }
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    gap: 80px;
    justify-content: space-between;
    margin-bottom: 37px;
  }
}

@media screen and (min-width: 1280px) {
  .benefits-text-wrapper {
    max-width: 573px;
    align-self: flex-end;
  }

  .benefits-list {
    margin-bottom: 32px;
    gap: 67px;
  }
}

.benefits-icon {
  margin-bottom: 8px;
}

.benefits-name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
}

@media screen and (min-width: 1280px) {
  .benefits-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
  }
}

.benefits-desk {
  font-size: 14px;
  line-height: 1.43;
}

@media screen and (min-width: 1280px) {
  .benefits-desk {
    line-height: 1.5;
  }
}

.benefits-btn {
  border: 2px solid var(--dark-green);
  border-radius: 30px;
  padding: 10px 22px;

  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: var(--black);
  background: #fff;
  transition: background-color 250ms ease-in-out, border 250ms ease-in-out;
}

.benefits-btn:hover,
.benefits-btn:focus,
.benefits-btn:active {
  border: 2px solid var(--button-green);
  background-color: var(--button-green);
}

.button-wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .button-wrapper {
    margin-bottom: 36px;
  }
}

.read-link {
  display: flex;
  align-items: center;
  gap: 3.4px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: #000;
}

.read-link:hover,
.read-link:focus,
.read-link:active {
  font-weight: 500;
}
