.fav-section {
  padding: 60px 0;
}

.fav-title {
  text-align: center;
  margin-bottom: 20px;
}

.fav-text {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1280px) {
  .fav-text {
    margin-bottom: 40px;
  }
}

.fav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .fav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
  }
}

.fav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 282px;
  border: 11px solid var(--yellow-main);
  border-radius: 140px;
  background: var(--white);
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fav-item:hover,
.fav-item:focus,
.fav-item:active {
  border-color: var(--button-green);
}

.fav-img {
  width: 223.3px;
}

.fav-item:nth-child(n + 4) {
  display: none;
}

@media screen and (min-width: 768px) {
  .fav-item {
    border: 14px solid var(--yellow-main);
    border-radius: 168px;
    width: 336px;
    height: 338px;
  }

  .fav-img {
    width: 268px;
  }

  .fav-item:nth-child(n + 4) {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .fav-item {
    border: 16px solid var(--yellow-main);
    border-radius: 198px;
    width: 394px;
    height: 397px;
  }

  .fav-img {
    width: 315px;
  }
}
