.footer {
  background-image: url(../img/footer/bc-tel.png);
  background-size: auto;
  background-position: bottom center;
  background-repeat: no-repeat;
  box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .footer {
    background-image: url(../img/footer/bc-tab.png);
    padding: 100px 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    background-image: url(../img/footer/bc-desk.png);
  }
}

@media screen and (min-width: 1280px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: space-between;
  }
}

.footer-nav {
  display: flex;
  gap: 46px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .footer-nav {
    align-items: center;
    gap: 114px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-nav {
    gap: 148px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .logo-icon {
    width: 66px;
  }
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .footer-menu {
    flex-direction: row;
    gap: 28px;
    align-items: center;
  }
}

.footer-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-form-wrapper {
    gap: 12px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-form-wrapper {
    margin-bottom: 0;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .footer-form {
    flex-direction: row;
    gap: 13px;
  }
}

.footer-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.footer-input {
  font-size: 12px;
  line-height: 1.5;
  border: 0.85px solid var(--yellow-main);
  border-radius: 30px;
  width: 100%;
  padding: 12px 11px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .footer-input {
    width: 279px;
  }
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}

.footer-input:focus {
  border-color: var(--dark-green);
}

.footer-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.error-message-wrapper {
  display: none;
  align-items: center;
  gap: 4px;
  position: absolute;
  bottom: -14px;
}

.error-message {
  font-size: 10px;
  color: #ff705d;
}

.footer-input-wrapper.is-invalid .footer-input {
  border-color: #ff705d;
}

.footer-input-wrapper.is-invalid .error-message-wrapper {
  display: flex;
}

.policy-text {
  font-weight: 400;
  font-size: 10px;
}

.privacy-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--dark-green);
}

@media screen and (min-width: 768px) {
  .policy-text {
    font-size: 12px;
  }
}

.footer-btn {
  width: 103px;
  height: 35px;
  padding: 8px 22px;
  border-radius: 30px;
  border: 0.85px solid var(--dark-green);
  background-color: #fff;
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
  transition: border 250ms ease, border 250ms ease;
  align-self: flex-start;
}

.footer-btn:hover,
.footer-btn:focus,
.footer-btn:active {
  border: 2px solid #ffe450;
}

@media screen and (min-width: 768px) {
  .footer-btn {
    align-self: flex-end;
    height: 42px;
  }
}

.policy-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .policy-wrapper {
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    width: 100%;
  }
}

.policy-list {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .policy-list {
    gap: 20px;
    justify-content: flex-start;
  }
}

.policy-link {
  font-weight: 400;
  font-size: 10px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--dark-green);
}

@media screen and (min-width: 768px) {
  .policy-link {
    font-size: 12px;
  }
}

.footer-copy {
  font-weight: 400;
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .footer-copy {
    font-size: 12px;
  }
}
