.header-section {
  padding: 10px 0;
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.burger-button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
}

.menu-wrapper {
  display: flex;
  gap: 30px;
}

.menu-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-list {
    display: flex;
    align-items: center;
    gap: 28px;
  }
}

.menu-link {
  font-weight: 400;
  font-size: 14px;
  transition: color 250ms ease-in-out;
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  font-weight: 500;
  text-decoration: underline;
  color: var(--button-green);
}

.header-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-btn {
    display: flex;
    padding: 6px 18px;
    width: 98px;
    background: var(--button-green);
    transition: background-color 250ms ease-in-out;
  }

  .header-btn:hover {
    display: flex;
    padding: 6px 18px;
    width: 98px;
    background: #ffe450;
  }
}
