.mobile-menu {
  position: fixed;
  right: 20px;
  top: 50px;
  z-index: 98;
  width: 130px;
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  background: var(--white);
  border-radius: 30px 0 30px 30px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: hidden;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-btn {
  position: absolute;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  top: 11px;
  right: 11px;
  padding: 0;
  width: 14px;
  height: 24px;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
}

.mob-menu-link {
  color: #000;
  padding: 16px 16px;
  display: block;
  width: 100%;
}

.mob-menu-link:focus,
.mob-menu-link:active {
  background: var(--button-green);
}
