.sub-section {
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .sub-section {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .sub-section {
    padding-bottom: 64px;
  }
}

.sub-img {
  height: 78px;
  margin: 0 auto 17px;
}

@media screen and (min-width: 768px) {
  .sub-img {
    width: 281px;
    height: 136px;
    margin: 0 0 20px auto;
  }
}

@media screen and (min-width: 1280px) {
  .sub-img {
    width: auto;
    height: 266px;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .sub-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-template-areas: 'text-part image-part';
  }

  .sub-content {
    grid-area: text-part;
  }

  .sub-img {
    grid-area: image-part;
    justify-self: end;
  }
}

.sub-title {
  line-height: 1.2;
  margin-bottom: 20px;
}

.sub-text {
  font-size: 14px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .sub-text {
    font-size: 16px;
    margin-bottom: 24px;
  }
}

.sub-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .sub-form {
    flex-direction: row;
    gap: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .sub-form {
    gap: 32px;
  }
}

.sub-input {
  font-size: 12px;
  line-height: 1.5;
  border: 0.85px solid var(--yellow-main);
  border-radius: 30px;
  width: 100%;
  padding: 12px 11px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .sub-input {
    width: 394px;
  }
}

.sub-input::placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}

.sub-input:focus {
  border-color: var(--dark-green);
}

.sub-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.sub-input-wrapper.is-invalid .sub-input {
  border-color: #ff705d;
}

.error-message-wrapper {
  display: none;
  align-items: center;
  gap: 4px;
  position: absolute;
  bottom: -17px;
}

.error-message {
  font-size: 10px;
  color: #ff705d;
}

.sub-input-wrapper.is-invalid .error-message-wrapper {
  display: flex;
}

.sub-btn {
  width: 103px;
  height: 42px;
  padding: 11px 22px;
  border-radius: 30px;
  border: none;
  background-color: var(--button-green);
  font-weight: 500;
  font-size: 13px;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.sub-btn:hover,
.sub-btn:focus,
.sub-btn:active {
  background-color: #ffe450;
}

@media screen and (min-width: 768px) {
  .sub-btn {
    margin-left: 0;
  }
}
